/* login.module.css */
.welcomeBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FFFCF4;
}

.logoContainer {
  position: absolute;      
  top: 20px;               
  left: 50%;              
  transform: translateX(-50%); 
  width: auto;            
}

.logoImage {
  width: 100px;            
  height: auto;           
}

.parentContainer {
  display: flex; /* Enables flexbox */
  flex-wrap: wrap; /* Allows wrapping to new lines if necessary */
  gap: 500px; /* Adds space between each container */
  justify-content: center; /* Center the containers within the parent */
}

.carouselContainer {
  background-color: #9DB4AB;
  position: relative;
  z-index: 1;
  height: 240px;
  width: 225px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  display: flex; /* Enables flexbox */
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
  text-align: center; /* Ensures text is centered */
  margin-right: 16px;
  margin-left: 16px;
}

.signupLink {
  color: #0077cc;
  margin-top: 8px;
}

.startButton {
  background-color: #283D3B;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
