/* signup.module.css */
.signUpBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: auto;
    min-height: 100vh;
    background-color: #FFFCF4;
    overflow-y: auto;
    padding-top: 140px; 
  }
  
  .logoContainer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
  }
  
  .logoImage {
    width: 100px;
    height: auto;
  }
  
  .signUpContainer {
    background-color: #9DB4AB;
    width: 400px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .signUpInput {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    color: black;
  }
  
  .linkBlue {
    color: #0077cc;
    margin-top: 0px; 
    display: block;
  }
  
  .signUpButton {
    background-color: #283D3B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
  }
  