.ingredientsPage {
  background-color: #FFFCF4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ingredientBox {
  align-items: center;
  box-sizing: border-box;
  width: 925px;
  padding: 20px;
  background: #9db4ab;
  border: 1px solid #000000;
  box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  overflow-y: auto;
}

.search {
  width: 400px;
  height: 46px;
  margin-bottom: 20px;
  background: #fffcf4;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
  color: black;
  outline: none;
}

.search:focus {
  border-color: #579eea;
}

.ingredient {
  width: 100%;
  margin-right: 120px;
  margin-bottom: 10px;
  background: #fffcf4;
  border-radius: 5px;
  padding: 10px;
  box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
}

.ingredientfield {
  margin-right: 50px;
}

.createbutton {
  background-color: #283d3b;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 10px;
  color: white;
}

.moreinfo {
  margin-top: 20px;
  width: 125px;
  height: 25px;
  background: #d9d9d9;
  border: 1px solid #000000;
  border-radius: 3px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}
